* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body {
    height: 100%;
    width: 100%;
    background-color: black;
}

.All_Cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 0;
}

.card {
    height: 350px;
    width: 300px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5%;
    padding: 25px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid lightgrey;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
    padding: 2px;
}

.top button {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    padding: 3px 8px;
    border: 1px lightgrey;
    border-radius: 5px;
    background-color: rgb(164 162 162 / 5%);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.05);
}

.center {
    position: relative;
    top: -6%;
}

.center h3 {
    font-size: medium;
    font-weight: 400;
    text-shadow: 1px 1px 10px #dedcdc;
    margin-bottom: 10px;
}

.center h3 span {
    color: grey;
    font-weight: normal;
    font-size: small;
    padding-left: 7px;
}

.center h2 {
    font-size: large;
    font-weight: 800;   
    margin-bottom: 8px;
}

.center div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.center div h4 {
    background-color: #c6c6c6;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: normal;
    font-size: small;
}


.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 5px;
    border-top: 1px solid lightgrey;
}

.bottom button {
    padding: 5px 10px;
    border: none;
    font-size: medium;
    border-radius: 5px;
    background-color: black;
    color: white;
}
